body{
    background-color:hsl(30, 59%, 53%);
}

.card{
width:900px;
height: 1200px;
    border:5px solid hsl(0, 0%, 0%);
    background-color:#02c7d5;
   margin: 0 auto;
   box-shadow: 2px 4px 6px rgba(0,0,0,0.3) ;
   transition-property: box-shadow;
   transition-duration: 3s;
   transition-delay: 1s;
   transition-timing-function: ease-in-out;

   
}

   .card:hover{
  box-shadow: 15px 25px 30px rgba(0,0,0,0.3);
   }

.card-header img{
    width:100px;
    height:100px;
    display: block;
    margin: 0 auto;
    border: 2px solid hwb(0 100% 0%);
    border-radius:50%;
}

.card-title h1{
    text-align: center;
    font-size: 2.2rem;
    color:#ff0000;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 2px 4px 6px #ffff00;
    background-color: #fa8072;
}

.card-description ul li{
    list-style-type: none;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    padding:20px 25px;
    position: relative;
    right:25px;
}
.card-description ul li::before{
content: '';
position: absolute;
top:calc(100% + 6px);
left:0;
width:90%;
height:25px;
background:#7a7af0;
border-radius:1100px;


}



.card-description ul li::after{
    content: '';
    position: absolute;
    top:calc(100% + 6px);
    left:0;
    width:0;
    height:25px;
background: rgb(255, 69, 0);
    border-radius:1100px;
animation-duration: 5s;
animation-timing-function: linear;
animation-delay: 3s;
animation-fill-mode:forwards;
animation-iteration-count: infinite;
animation-play-state: running;

    }


    .card-description ul li.html::after{
        animation-name: html;
    }


    @keyframes html {
        from{
            width:0;
        }
    
        to{
            width:90%;
        }
    }
    .card-description ul li.css::after{
        animation-name: css;
    }


    @keyframes css {
        from{
            width:0;
        }
    
        to{
            width:85%;
        }
    }
    .card-description ul li.js::after{
        animation-name: js;
    }


    @keyframes js {
        from{
            width:0;
        }
    
        to{
            width:80%;
        }
    }
    .card-description ul li.php::after{
        animation-name: php;
    }


    @keyframes php {
        from{
            width:0;
        }
    
        to{
            width:70%;
        }
    }
    .card-description ul li.typescript::after{
        animation-name: typescript;
    }


    @keyframes typescript {
        from{
            width:0;
        }
    
        to{
            width:65%;
        }
    }
    .card-description ul li.perl::after{
        animation-name: perl;
    }


    @keyframes perl {
        from{
            width:0;
        }
    
        to{
            width:60%;
        }
    }
    .card-description ul li.mysql::after{
        animation-name: mysql;
    }


    @keyframes mysql {
        from{
            width:0;
        }
    
        to{
            width:55%;
        }
    }
    .card-description ul li.haskell::after{
        animation-name: haskell;
    }


    @keyframes haskell {
        from{
            width:0;
        }
    
        to{
            width:50%;
        }
    }
    .card-description ul li.erlang::after{
        animation-name: erlang;
    }


    @keyframes erlang {
        from{
            width:0;
        }
    
        to{
            width:45%;
        }
    }
    .card-description ul li.dlang::after{
        animation-name: dlang;
    }


    @keyframes dlang {
        from{
            width:0;
        }
    
        to{
            width:40%;
        }
    }
    .card-description ul li.clozure::after{
        animation-name: clozure;
    }


    @keyframes clozure {
        from{
            width:0;
        }
    
        to{
            width:35%;
        }
    }